body {
    background: url(img/ACO-Sport-Olympisch-Stadion-goten-binnen-ring2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }
  
  .bird  {
    width: 8rem;
    position: absolute;
    margin-left: 50px;
    margin-top: 80px;
  }
 